.money-display {
  align-items: center;
  color: #fff;
  display: flex;
  font-family: 'Fresca', sans-serif;
  font-size: 2.3vw;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;

  &__icon {
    align-items: center;
    display: flex;
    height: auto;
    width: 3.28vw;

    img {
      display: block;
    }
  }
}
