.character-wrap {
  position: absolute;
  transition: opacity var(--transform-time) ease-in-out;
  transform-origin: center;
  z-index: 10;

  .character {
    opacity: 0;
    transition: opacity var(--transform-time) ease-in-out;
    animation: fade-in 2s forwards;
    transform: translateX(-150px);

    &.instant {
      opacity: 0;
    }

    &.visible {
      opacity: 1;
    }

    &.flip {
      transform: scaleX(-1) translateX(-150px);
      transform-origin: center;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes dissolve {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
