.button {
  background-color: var(--button-background-color);
  border-top: var(--button-border-top);
  border-left: var(--button-border-left);
  border-right: 2var(--button-border-right);
  border-bottom: var(--button-border-bottom);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
  color: #442200;
  cursor: pointer;
  font-family: 'Fresca', sans-serif;
  font-size: 1.15vw;
  height: 2.81vw;
  padding: 0.2rem 0 0 0;
  user-select: none;
  width: 13vw;
  .capitalize {
    text-transform: capitalize;
  }
}
