.phone-wrapper {
  position: absolute;
  transform: translateX(-50%) scale(0.95);
  z-index: 300;
  transition: all 700ms ease;

  
  // avoid adding padding and margin for p tags
  p {
    margin: 0;
    padding: 0;
  }
}


