
.hint-wrapper {
  display: flex;
  flex-direction: column;  
  gap: 10px;
  overflow-y: scroll;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .hint-image-bg {
    padding: 20px;
    // margin-right: var(--spacing-m);
    background-color: #4F5F7B;
    font-family: 'Fresca';
    border-radius: 10px;
    margin-left: -10px;
    margin-right: 10px;
    // filter: brightness(1);
  
    .frame-text-title {
      color: #e2cf3d;
      font-size: 2.2vw;
    }
  
    .frame-text-description {
      color: whitesmoke;
      font-size: 1.5vw;
    }
  }
}
