@font-face {
    font-family: ComicHelvetic_Heavy;
    src: url('/assets/fonts/ComicHelvetic_Heavy.otf');
}

@font-face {
    font-family: ComicHelvetic_Light;
    src: url('/assets/fonts/ComicHelvetic_Light.otf');
}

@font-face {
    font-family: ComicHelvetic_Medium;
    src: url('/assets/fonts/ComicHelvetic_Medium.otf');
}

@font-face {
    font-family: DejaVuSans;
    src: url('/assets/fonts/DejaVuSans.ttf');
}

@font-face {
    font-family: dinomouse;
    src: url('/assets/fonts/dinomouse.regular.otf');
}

@font-face {
    font-family: Fresca-Regular;
    src: url('/assets/fonts/Fresca-Regular.ttf');
}

@font-face {
    font-family: GothamHTF-Bold;
    src: url('/assets/fonts/GothamHTF-Bold.ttf');
}

@font-face {
    font-family: just-for-fun;
    src: url('/assets/fonts/just-for-fun.regular.otf');
}

@font-face {
    font-family: MergedFont;
    src: url('assets/fonts/MergedFont.ttf');
}

@font-face {
    font-family: MonkeyIsland;
    src: url('assets/fonts/MonkeyIsland.ttf');
}

@font-face {
    font-family: NATURALTEXT2-REGULAR;
    src: url('assets/fonts/NATURALTEXT2-REGULAR.OTF');
}

@font-face {
    font-family: NATURALTEXT-REGULAR_3;
    src: url('assets/fonts/NATURALTEXT-REGULAR_3.OTF');
}
